body {
  margin: 0;
  padding: 0;
  background-image: url('img/fone.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
    background-color: #f3deb6;
    padding: 10px;
    display: flex;
}

.header-content {
    margin-top: 10px;
}

.header-h1 {
    font-size: 24px;
    font-family: Arial, sans-serif;
    color: #333;
}

.header-h2 {
    font-size: 18px;
    font-family: 'Times New Roman', serif;
    color: #333;
}

header h4 {
    font-size: 14px;
    font-family: 'Verdana', sans-serif, 'Lugrasimo', cursive;
    margin-top: 10px;
    color: #333;
}

.hr-container {
    margin-left: 10;
}

nav ul {
    font-size: 18px;
    margin-left: -120px;
    color: #333;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
}

main {
    padding: 10px;
    background-size: cover;
}

footer {
    background-color: #f3deb6;
    padding: 10px;
    text-align: center;
}

header img {
    margin-right: 10px;
    max-height: 80px;
    margin-top: 30px;
}

.header-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 1020px;
    margin-top: 20px;
  }
  
  .button-trans-email {
    margin-bottom: 10px;
  }
  
  .buttons-contacts {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .contact-button {
    margin-left: 10px;
  }
  
  .button-translite,
  .viber-button,
  .facebook-button,
  .instagram-button {
    font-size: 16px;
    border-radius: 20px;
    padding: 8px 16px;
    border: 2px solid transparent;
    transition: background-color 0.3s ease;
    margin-left: 8px;
  }
  
  .button-translite {
    background-color: #c0c0c0;
  }
  
  .viber-button {
    background-color: #6a0dad;
    color: #fff;
  }
  
  .viber-button:hover {
    background-color: #9c4dcc;
  }
  
  .facebook-button {
    background-color: #3b5998;
    color: #fff;
  }
  
  .facebook-button:hover {
    background-color: #5b7bd5;
  }
  
  .instagram-button {
    background-color: #FF69B4;
    color: #fff;
  }
  
  .instagram-button:hover {
    background-color: #FFC0CB;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
.h1-main {
    font-size: 20px; 
    color: #333;
    text-align: center; 
    font-weight: bold; 
    text-transform: uppercase; 
    margin-top: 0px ;
}

.img-fone {
    width: 100%; 
    max-width: 800px; 
    height: auto; 
    margin-left: 550px; 
}

.h3-main {
    font-size: 12px; 
    color: #333;
    text-align: center; 
    text-transform: uppercase; 
    margin-top: 20px;
}

.container {
    text-align: center;
    background: #f3deb6;
    padding: 20px;
    border-radius: 30px;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    gap: 300px;
  }
  
  .left,
  .right {
    width: 48%; 
    text-align: left; 
    padding: 0 100px;
  }
  
  h2 {
    font-weight: bold;
  }
  
 .list {
    list-style-type: disc; 
    padding-left: 20px; 
  }

.container-2 {
    text-align: center;
    padding: 20px;
 }

 h2 {
    font-size: 24px;
    margin: 0;
 }

 .list-2 {
    padding: 0;
    text-align: left; 
    list-style: none; 
    display: inline-block; 
    list-style-type: disc;
 }

 li {
    margin: 8px 0;
    position: relative;
 }

 li::before {
    position: absolute;
    left: -40px;
    color: #333;
 }

.container-3 {
    display: flex;
    margin-left: 400px;
    margin-top: 10px;
 }

 .photo {
    flex: 0;
    max-width: 100%; 
    height: auto;
 }

 .text {
    flex: 1; 
    padding: 20px; 
 }

 .h4-3-Z {
    padding-left: 20px;
    font-size: 28px;
    margin-top: -20px;
    margin-bottom: 10px;
 }

 .h4-3 {
    font-size: 24px; 
    text-align: left; 
    margin-top: 0;
    max-width: 55%; 
 }

 .h1-3 {
    text-align: center;
    font-size: 40px;
    margin: 0 auto;
}

.container-4 {
    color: #333;
    max-width: 70%; 
    margin: 0 auto;
    text-align: left; 
    
 }

 .h1-4 {
    font-size: 26px; 
    text-align: center; 
    margin: 0;
 }

 .listme1 {
    font-size: 18px;
    padding: 0;
    padding-bottom: 10px;
    margin-top: -6px;
 }
 
 .h1-5 {
  font-size: 26px; 
  text-align: center; 
  margin-top: 10px;
  margin-top: -25px;
 }

 .listme2 {
  font-size: 18px;
  padding: 0;
  padding-bottom: 10px;
  max-width: 1340px; 
  margin: 0 auto;
  margin-top: -14px;
 }

/* Стили для экранов шириной меньше 600px */
@media (max-width: 600px) {
  header {
    padding: 5px; /* уменьшить отступы шапки */
  }

  header img {
    max-height: 50px; /* Уменьшаем высоту логотипа */
    margin-top: 10px; /* Уменьшаем отступ сверху */
  }

  .header-content {
    margin-top: 5px; /* уменьшить отступ содержимого шапки */
  }

  .header-h1 {
    font-size: 16px; /* уменьшить размер заголовка H1 */
    margin-bottom: 5px; /* уменьшить отступ снизу */
    margin-top: -5px; /* уменьшить отступ сверху */
  }

  .header-h2 {
    font-size: 15px; /* уменьшить размер заголовка H2 */
    margin-bottom: 5px; /* уменьшить отступ снизу */
    margin-top: -5px; /* уменьшить отступ сверху */
  }

  header h4,
  nav ul {
    font-size: 14px; /* Уменьшаем размер шрифтов */
    margin-bottom: 5px; /* уменьшить отступ снизу */
    margin-top: -5px; /* уменьшить отступ сверху */
  }

  .header-buttons {
    margin-left: auto; /* Перемещаем блок кнопок вправо */
    margin-right: 10px; /* Устанавливаем правый отступ */
    margin-left: 40px; /* уменьшить отступ кнопок в шапке */
    margin-top: 2px;
  }

  .left,
  .right,
  .container,
  .container-2,
  .container-3,
  .container-4 {
    width: 100%; /* Устанавливаем ширину блоков на всю ширину экрана */
    padding: 10px; /* уменьшить отступы контейнеров на мобильных устройствах */
  }

  nav ul {
    margin-left: -80px; /* уменьшить отступы списка навигации */
  }

  .img-fone {
    margin-left: 0; /* сбросить отступ изображения на мобильных устройствах */
  }

  .h1-main,
  .h3-main,
  .h4-3-Z,
  .h4-3,
  .h1-3,
  .h1-4,
  .h1-5,
  .listme1,
  .listme2,
  h2 {
    font-size: 18px; /* уменьшить размер шрифтов */
  }
}

.right {
  margin-left: -300px; /* сдвигаем блок справа на 300 пикселей влево */
}

.container-3 {
  flex-direction: column;
  align-items: center;
  margin-left: 0;
  margin-top: 5px;
}

.photo {
  max-width: 100%;
  height: auto;
  margin-bottom: 2px;
}

.text {
  padding: 20px;
  max-width: 100%;
  text-align: center;
}

.h4-3-Z {
  font-size: 24px;
  margin: -5px;
  margin-top: -20px;
}

.h4-3 {
  font-size: 18px;
  margin: 10px;
  margin-left: -20px;
  max-width: 110%;
  margin-right: -20px;
  margin-bottom: -10px;
}

.h1-4,
.listme1,
.container-4
   {
  max-width: 100%;
}
